<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<style>
    </style>-->
    <title>Pruebas django</title>
</head>
<body>
    <h1>Hola ninos</h1>
    <p style="color: red;">El nombre del alumno es {{nombre_del_profesor}} {{apellido_del_profesor}}</p>
    <br>
    <p>Este programa se inicio el {{fecha_actual.day}}/{{fecha_actual.month}}/{{fecha_actual.year}}</p>
    <br>
    <p> 
        <!-- el siclo "for", en este caso, se ustiliza como un ciclo foreach.-->
        {% if materias %}  <!--django mira si la variable existe y si es asi verifica si tiene informacion, en caso de tenerla se ejecuta-->
            
            <p>El profesor {{apellido_del_profesor}} puede dar las clases de:</p>
            <ol>
            {% for un_tema in materias %}
                <li>{{un_tema}}</li> 

            {% endfor %}
            </ol>
        {% else %}
            <p>Este profesor no tiene clases disponibles.</p>
        {% endif %}

        
    </p>
</body>
</html>